html {

}

#html-window {
  position: fixed;
  height: 100%;
  width: 100%;

  background-color: #fff;
  opacity: 0.2;
}

/* Padding below the footer and lighter body text */
body {
  position: absolute;

  background-image: url("../img/grass.jpg");
}

.content-pane {
  position: absolute;

  padding-top: 1%;
  /*padding-left: 13%;
  width: 100%;*/
  margin-left: 7vw; 
  width: 90vw;

  opacity: 0;
}

/* NAVBAR
-------------------------------------------------- */
.my-navbar {
  top: -2px;
  left: -2px;
  right: -2px;

  border: 2px solid green;
  background-color: #dfd;
}

.nav { background-color: #dfd; }

.my-navbar-active { background-color: #cec; }

.navbar-header { height: 50px; }

.navbar-brand {
  float: right;

  background-color: #dfd;
}

.navbar-brand:hover {
  background-color: #cec;
  text-decoration: none;
}

/* DROPDOWN MENU
-------------------------------------------------- */
.dropdown-item {
  width: 150px;
  height: 30px;

  line-height: 30px;
}
.dropdown-icon {
  float: right;

  max-width: 100%;
  max-height: 100%;
}

.my-containers {
  position: absolute;
  
  width: 95%;
}

/* CAROUSEL
-------------------------------------------------- */
.home-container { height: 65vh; }

.carousel {
  z-index: 1; /* necessary for carousel sliders to appear on top and respond */
  position: relative;
 
  height: 100%;
  width: 100%;
}

/* Declare heights because of positioning of img element */
.carousel .item { height: 65vh; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* ABOUT
-------------------------------------------------- */
.about-container {
  height: 65vh;

  opacity: 0; 
}

.about-container p {
  margin-top: 100px; 

  font-family: verdana;
  font-size: 50px;
  color: #ada;
  text-shadow: 3px 3px 7px #222;
  text-align: center;
}

/* PROJECTS
-------------------------------------------------- */
.projects-container {
  padding-top: 5%;
  padding-bottom: 5%;

  height: auto;

  opacity: 0;
}

.project {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  left: 6%;

  max-width: 90%;

  border-radius: 3%;
  border: 3px solid #ded;
  background-color: #efe;
  opacity: 0.7; 
}

.project:hover { transform: scale(1.05); }

.project-jumbo {
  position: relative;
  margin: 0;
  left: 0;

  padding-left: 3%;
  padding-right: 3%;

  max-width: 100%;

  border-radius: 0;
  border: 3px dashed #aba;
  background-color: #cfc;
  opacity: 1;
}

.project-jumbo h1 {
  color: #4c3;
  text-shadow: 2px 2px 1px #444;
}

.project-jumbo p {
  color: #bcb;
  text-shadow: 1px 1px 0px #444;
}

.project-title {
  margin-bottom: -1%;

  color: #234510;
  text-shadow: 1px 1px 3px #ddd;
}

.project-subtitle {
  position: relative;

  margin-bottom: 1%;

  color: #a3b975;
}

.project-description {
  line-height: 23px;

  color: #001100; 
}

.project-image {
  position: relative;
  float: right;

  max-height: 300px;
  min-width: 400px;  
}

.project-ref { margin-right: 3%; }

.project-ref:hover { text-decoration: none; }

.project-source:hover { color: #33cc33; }

.project-page:hover { color: #ff9900; }

.project-download:hover { color: #ffff00; }

/* DROPDOWN MENU
-------------------------------------------------- */
.dropdown-item {
  width: 150px;
  height: 30px;

  line-height: 30px;
}

.dropdown-icon {
  float: right;

  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    line-height: 1.4;

    text-shadow: 1px 1px 1px #000;
    font-size: 21px;
    color: #ccffcc;
  }

  .carousel-caption h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 4px 3px #000;
    color: #00cd10;
  }
}

.rainbow {
  -webkit-animation-name: rainbow; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  animation-name: rainbow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow {
    0%   { color: #ff3200; border-color: #ff3200; }
    25%  { color: #ffcc00; border-color: #ffcc00; }
    50%  { color: #4747d1; border-color: #4747d1; }
    75%  { color: #ccff33; border-color: #ccff33; }
    100% { color: #ff3200; border-color: #ff3200; }
}

/* Standard syntax */
@keyframes rainbow {
    0%   { color: #ff3200; border-color: #ff3200; }
    25%  { color: #ffcc00; border-color: #ffcc00; }
    50%  { color: #4747d1; border-color: #4747d1; }
    75%  { color: #ccff33; border-color: #ccff33; }
    100% { color: #ff3200; border-color: #ff3200; }
}